{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <nav class='shadow-lg'>
           <div class='flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5'>
               <a href='' class='flex items-center'>
                   <img src='{% static "images/market.png" %}' class='h-5 w-5 m-2'>
                   <span class='self-center text-xl font-semibold'>Digital Marketplace</span>
               </a>
               <div class='flex items-center'>
                    <a href='' class='mr-6 text-sm font-medium text-gray-500'>Dashbord</a>
                    <a href='' class='mr-6 text-sm font-medium text-gray-500'>Sales</a>
                    <a href='' class='mr-6 text-sm font-medium text-gray-500'>Orders</a>
                    <a href='' class='mr-6 text-sm font-medium text-gray-500'>Create Products</a>
                    <a href='' class='mr-6 text-sm font-medium text-gray-500'>My Purchases</a>
                    <a href='{% url "logout" %}' class='mr-6 text-sm font-medium text-gray-500'>Logout</a>
               </div>
           </div>
       </nav>
       
       {% block content %}
       {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>