{% extends "digitalmarket/base.html" %}

{% block content %}
<div class='flex justify-between'>
    <div class='font-semibold ml-20 mt-10'>My Products</div>
    <div class='ml-20 mt-10'>
        <a href='{% url "create" %}' class='bg-green-500 text-white px-4 py-2 mr-8'>New Product</a>
    </div>
</div>
<div class='product-container p-10 m-5'>
    {% for item in object_list %}
    <div class='flex m-5 p-2 justify-between shadow-lg'>
        <div class='flex w-1/4'>
            <img class='h-20' src='{{ item.file.url }}'>
        <div class='relative group'>
            <a href='{% url "update" item.id %}'>
            <div class='opacity-0 group-hover:opacity-100 duration-300 absolute inset-x-0 bottom-0 p-8 justify-center items-end bg-white font-semibold'>
                Edit Product
            </div>
            <div>
                <div class='font-bold text-sm'>{{item.name}}</div>
                <div class='text-sm'>{{item.description}}</div>
                <div class='text-sm text-green-500'>${{item.price}}</div>
            </div>
        </a>
        </div>
        </div>
        
        <div>
            <div class='text-2xl'>200$</div>
            <div class='text-sm'>Total earnings</div>
        </div>
        <div>
            <div class='text-2xl'>20</div>
            <div class='text-sm'>Total orders</div>
        </div>
        <div class='pr-5'>
            <div class='text-2xl'>4.9</div>
            <div class='text-sm'>Raitings</div>
        </div>
    </div>
    
  
    {% endfor %}

</div>
{% endblock %}