{% extends 'digitalmarket/base.html' %}

{% block content %}
<h1>Detail</h1>
<div class='flex p-10'>
    <div>
        <img src='{{ product.file.url }}' class=''>
    </div>
    <div class='pl-10'>
        <div class='font-bold text-4xl mb-4'>{{ object.name }}</div>
        <div class='mb-4'>{{ product.description }}</div>
        <div class='mb-4 text-green-500 text-bold'>${{ product.price }}</div>
        <div>
            <button id='checkout-button' class='bg-green-500 text-white px-4 py-2 rounded-sm'>ADD TO CART</button>
        </div>
        <div id='myemail' hidden>{{ request.user.email }}</div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>

<script type='text/javascript'>

    let stripe = Stripe('{{ secret_publish_key }}')
    let checkoutButton = document.getElementById('checkout-button')

    checkoutButton.addEventListener('click',function(){
        console.log('Button clicked')

        let email = document.getElementById('myemail').innerText

        if(email.lenght == 0){
            alrt('Please enter your email address!')
            return
        }

        fetch('{% url "api_checkout_session" product.id %}',{
            method:'POST',
            body: JSON.stringify({'email':email})
        }).then(function(response){
            return response.json()
        }).then(function(session){
            return stripe.redirectToCheckout({sessionId:session.sessionId})
        }).then(function(result){
            if(result.error){
                alert(result.error.message)
            }
        }).catch(function(error){
            console.error('Error:',error)
        })
    })
</script>

{% endblock %}